*
{
	margin      : 0;
	padding     : 0;
	box-sizing  : border-box;
	font-family : 'Fira Code';
}

html
{
	height           : 100vh;
	display          : flex;
	align-items      : center;
	justify-content  : center;
	background-color : black;
}

a { text-decoration: none; }
input, button { outline: none; }